#layout-mountain{
  margin: 0;
  padding: 0;
  box-sizing: 0;

}
#desk-mont{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  transition: margin-right 0.6s;
}

.nav-laterale-cont{
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 40;
  position: fixed;
  min-height: 100%;
  display: none;
  @media only screen and (min-width: 1024px){
    right: 0;
    width: 300px;
  }
  @media only screen and (max-width: 1023px){
    right: 0;
    width: 100vw;
  }
}

.menu-lay-bg-absolute{
  position: absolute;
  height: 40px;
  width: 40px;
  transform: translate3d(978px, 16px, 0px) scale(67.2273, 67.2273);
  background-color: #f8f8f8;
}
.menu-lat-content{
  position: relative;
  padding: 75px 30px 24px;
  display: flex;
  flex-direction: column;
  // min-height: 100%;
  min-height: 827px;
  height: 100%;
  background-color: #f8f8f8;
  @media only screen and (max-width: 1023px){
    right: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
  }
  .menu-lat-link{
    opacity: 1;
    visibility: inherit;
    transform: translate(0px, 0px);
    font-family: Roboto Mono;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    color: #3a3a52;
  }
  .top{
    flex-grow: 1;
    @media only screen and (max-width: 1023px){
      padding: 70px 0 0 50px;
    }
  }
  .middle{
    flex-shrink: 2;
    margin-bottom: 24px;
    opacity: 1;
    visibility: inherit;
    transform: translate(0px, 0px);
    display: flex;
    margin-top: auto;
    text-align: center;
    @media only screen and (min-width: 1024px){
      flex-direction: column;
      padding: 70px 0 0 50px;
    }
    border-bottom: 2px solid grey;
  }

  .bottom{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .logo{
      background-color: blue;
      width: calc(100% / 4);
      height: 40px;
      margin: 5px 8px;
    }
    @media only screen and (max-width: 1023px){
      padding: 70px 0 0 50px;
    }
  }
}

// hamb icona
.hamb-icon{
  cursor: pointer;
  position: absolute;
  z-index: 39;
  top: 50px;
  right: 100px;
}
// icona per chiudere menu lat
.close-icon{
  cursor: pointer;
  position: absolute;
  z-index: 39;
  top: 10px;
  right: 30px;
}

.active{
  display: block;
}

// transition slide
.slide-enter-active, .slide-leave-active {
  transition: all 2s;
}
.slide-enter {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}
.slide-leave-to{
  transform: translateX(100%);
  transition: all 150ms ease-out 2s;
}
